<h2>Detalle de órden N°{{ingreso.id}}</h2>

<div><span>Número de órden: </span>{{ingreso.id}}</div>
<div><span>Fecha de ingreso: </span>{{ingreso.fecha}}</div>
<div><span>Nombre completo: </span>{{ingreso.name | uppercase}}</div>
<div><span>Rut: </span>{{ingreso.rut}}</div>
<div><span>Telefono de contacto: </span>{{ingreso.tlf}}</div>
<div><span>N° de Boleta: </span>{{ingreso.boleta}}</div>
<div><span>Producto SKU: </span>{{ingreso.producto}}</div>
<div><span>Descripción del problema: </span>{{ingreso.desc}}</div>
<div><span>Resumen de servicios: </span>{{ingreso.resumen}}</div>
<div><span>Estado: </span>{{ingreso.estado}}</div>
